// variables

@pageWidth: 100vw;
@pageHeight: 100vh;

// colors

@purple: #9b59b6;
@blue: #22a7f0;
@lightGray: #dadfe1;
@gray: #bdc3c7;
@navy: #313542;
@white: #f4f4f4;
@orange: #f78e57;
@red: #f9575a;
@salmon: #ff8181;
@green: #2ecc71;
@yellow: #f5d76e;

// mixins
.animation(@time: 0.2s, @delay: 0s) {
	animation-duration: @time!important;
	animation-delay: @delay!important;
}
.center {
	margin: auto;
}
.color(@bg, @txt) {
	background-color: @bg;
	color: @txt;
}
.flexContainer(@direction, @wrap) {
	display: flex;
	flex-direction: @direction;
	flex-wrap: @wrap;
	position: relative;
}
.flex-row {
	.flexContainer(row, wrap);
}
.flex-column {
	.flexContainer(column, nowrap);
}
.flex {
	flex: 1 1 auto;
}
.flex2 {
	flex: 2 1 auto;
}
.flex3 {
	flex: 3 1 auto;
}
.hidden {
	display: none!important;
}
.transition(@prop: all, @time: 0.2s, @type: ease-out) {
	transition: @prop @time @type;
	transition-duration: @time;
}

// normalize
html {
	background: #f4f4f4;
	font-size: 8px;
	font-family: Roboto;
}
body {
	margin:0;
	padding:0;
	cursor:default;
	width: @pageWidth;
	overflow-x:hidden;
	font-size: 1.75rem;
	line-height: 2.8rem;
	color: @navy;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	color:inherit;
	text-decoration:none;
	&:hover {
		color:inherit;
	}
}

// material font weights

h1.banner {
	font-size:112px;
	font-weight:300;
	letter-spacing:-5px;
	line-height:128px;
}
// display 3
h1 {
	font-size: 56px;
	font-weight: 400;
	line-height: 64px;
}
// display 2
h2 {
	font-size: 45px;
	font-weight: 400;
	line-height: 64px;
}
// display 1
h3 {
	font-size: 34px;
	font-weight: 400;
	line-height: 52px;
}
// header
h4 {
	font-size: 24px;
	font-weight: 400;
	line-height: 39px;
}
// title
h5 {
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
}
// text
p {
	font-size: 1.75rem;
	line-height: 22.4px;
}


// components

#balance {
	text-align: center;
}
.progressBase {
	position: absolute;
	bottom: 0;
	background: @green;
	max-height: 100%;
	overflow: hidden!important;
	.transition(height, 0.5s);
}
.glass {
	@color: @navy;
	@border: solid 6px;
	height: 80%;
	width: 40%;
	color: @color;
	border: @border;
	border-bottom: 8px solid;
	border-radius: 0 0 20% 20%;
	position: relative;
	.handle {
		position: absolute;
		height: 50%;
		width: 25%;
		right: -25%;
		color: @color;
		border: @border;
	}
}

header {
	height: @pageHeight*2/3;
	h3 {
		margin: 3rem;
	}
}
#home {
	overflow-y: scroll!important;
	min-height: 100%;
	height: auto!important;
}
#jar, #movie {
	height: 35%;
	width: 100%;
}
#jar .progress {
	&:extend(.progressBase);
	width: 100%;
	border-radius: 0 0 18px 18px;
}
#movie {
	position: relative;
}
#movie .progress {
	&:extend(.progressBase);
	width: 112px;
	z-index: 1;
}
#qr {
	display: flex;
	height: 40%;
	img {
		margin: auto;
	}
}